<a href="https://colab.research.google.com/github/MuskarMonish/DWV-lab/blob/main/week_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import re

In [5]:
def search_pattern(pattern, text):
 result = re.search(pattern, text)
 if result:
  print(f"Match found: {result.group()}")
 else:
  print("No match found")
pattern = r'\d+'
text = "There are 42 apples in the basket."
search_pattern(pattern, text)

Match found: 42

In [3]:

def split_pattern(pattern, text):
 result = re.split(pattern, text)
 print(f"Splitted text: {result}")
pattern = r'\s+'
text = "Split this text by whitespace characters."
split_pattern(pattern, text)

Splitted text: ['Split', 'this', 'text', 'by', 'whitespace', 'characters.']

In [4]:

def replace_pattern(pattern, replacement, text):
 result = re.sub(pattern, replacement, text)
 print(f"Replaced text: {result}")
pattern = r'\d+'
replacement = "XX"
text = "Replace the number 42 with XX."
replace_pattern(pattern, replacement, text)

Replaced text: Replace the number XX with XX.